<div class="d-flex align-items-start angularNav">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link" id="v-pills-typescript-tab" data-bs-toggle="pill" data-bs-target="#v-pills-typescript" type="button" role="tab" aria-controls="v-pills-typescript" aria-selected="false">JS Introduction</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">

    <div class="tab-pane fade" id="v-pills-typescript" role="tabpanel" aria-labelledby="v-pills-typescript-tab" tabindex="0">
    <h4>Basic javascript</h4>
    </div>
      <app-javascript></app-javascript>
  </div>
</div>
